@import "tailwindcss";
@plugin "tailwindcss-motion";
@plugin "@tailwindcss/typography";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@layer components{

    .main-container{
        @apply h-screen w-screen flex justify-between items-center font-[Raleway] bg-white;
    }

    .inner-main-container{
        @apply h-screen w-screen flex flex-col justify-around items-center p-[5vh] gap-[2vh];
    }
}